body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-family: Arial, sans-serif;
}

#relogio {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    margin: 20px;
}

#data {
    color: red;
}

#container {
      display: flex;
      flex-direction: column; /* Organiza verticalmente */
      align-items: center;     /* Centraliza na horizontal */
      font-family: Arial, sans-serif;
      margin-top: 50px;
      border : 4;
    
     
    
}